<!-- <input type="text" [(ngModel)]="searchQuery" (keyup.enter)="performSearch()" placeholder="Enter your search query">
<ul *ngIf="searchResults && searchResults.length > 0">
  <li *ngFor="let result of searchResults">
    {{ result.body }}
  </li>
</ul> -->
<!-- <p *ngIf="!searchResults || searchResults.length === 0">No results found.</p> -->


<input type="text" [(ngModel)]="searchQuery" (keyup.enter)="performSearch()" placeholder="Enter your search query">
<table *ngIf="searchResults && searchResults.length > 0">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Gender</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let result of searchResults">
      <td>{{ result.id }}</td>
      <td>{{ result.firstName }} {{ result.lastName }}</td>
      <td>{{ result.email }}</td>
      <td>{{ result.gender }}</td>
    </tr>
  </tbody>
</table>
<!-- <p *ngIf="!searchResults || searchResults.length === 0">No results found.</p> -->
